.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 500px;
  max-height: 600px;
  background-color: #f8f8f8;
  overflow: hidden;
}
